---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
clusterName: {{ kubernetes_cluster_name }}
kubernetesVersion: {{ kubernetes_cluster_version }}
controlPlaneEndpoint: {{ api_server_endpoint }} 
apiServer:
  extraArgs:
    authorization-mode: "{{ authorization_mode }}"
    {% if enable_audit == 'true' -%}
    {% block extraArgs -%}
    audit-log-compress: "{{ audit_log_compress }}"
    audit-log-format: "{{ audit_log_format }}"
    audit-log-maxage: "{{ audit_log_maxage }}"
    audit-log-maxbackup: "{{ audit_log_maxbackup }}"
    audit-log-maxsize: "{{ audit_log_maxsize }}"
    audit-log-mode: "{{ audit_log_mode }}"
    audit-log-path: "{{ audit_log_path }}"
    {% endblock %}
    {% endif %}

  extraVolumes:
    {% if enable_audit == 'true' -%}
    {% block extraVolumes -%}
    - name: "var_log_kubernetes"
      hostPath: "{{ audit_log_path }}"
      mountPath: "{{ audit_log_path }}"
      pathType: "Directory"
    {% endblock %}
    {% endif %}

networking:
  podSubnet: {{ pod_network_cidr }}
  serviceSubnet: {{ service_network_cidr }}
